*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lucida Sans", sans-serif;;
}
.main{
    width: 100%;
}
.heder{
    width: 100%;
    background-color: #9933cc;
    padding: 15px;
}
.heder h1{}

/* navber */
.navber{
    float: left;
    padding: 15px;
}
.navber ul{
    list-style-type: none;
    overflow: hidden;
}
.navber ul li{
    margin-bottom: 7px;
}
.navber ul li a{
    display: block;
    background-color: #33b5e5;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    box-shadow: 0px 1px 3px rgba(0,0,0,.12), 0px 1px 2px rgba(0,0,0,.24);
}
.navber ul li a:hover{
    background-color: #0099cc;
}

/* main content */
.main-content{
    padding: 15px;
}
.main-content h2{
    margin-bottom: 20px;
}
.main-content p{
    margin-bottom: 20px;
}
.main{
    content: '';
    clear: both;
    display: table;
}

/* Responsiv gird view */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}